.contacts__list {
    display: none;
    @include list;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: center;
    }

}

.contacts__item {
    @media screen and (min-width:1200px) {
        margin-right: 50px;
    }

    &:last-child {
        margin-right: 0;
    }
}

.contacts__link {
    @include link;
    color: $prymary-color;
    transition: color $transition-function;

    &:hover,
    &:focus {
        color: $accent-color;
    }

    @media screen and (min-width:768px) {
        display: flex;
        align-items: center;
    }
}

.contacts__icon {
    fill: currentColor;
    align-items: center;
    margin-right: 10px;
}