.filter__list {
    @include list;
    display: flex;
    @media screen and (max-width:767px) {
            max-width: 326px;
            flex-wrap: wrap;
        }
    gap: 8px;
    margin-bottom: 50px;
    @media screen and (min-width:768px) {
            justify-content: center;
    }
     
}

.filter__button {
    background-color: $secondary-background;
    box-shadow: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    color: $title-color;
    font-family: inherit;
    transition: background-color $transition-function , color $transition-function, box-shadow $transition-function;
    padding: 6px 22px;
    min-width: 73px;

    &--current {
        background-color: $accent-background;
        box-shadow: $box-shadow-filters;
        color: $color-white;

    }

    &:hover, &:focus{
        background-color: $accent-background;
        color: $color-white;
        box-shadow: $box-shadow-filters;
    }
}