.mobile-menu__container {
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $prymary-background;
    padding: 48px 40px;
    z-index: 999;
    transform: translateX(100%);
    transition: transform $transition-function;
    display: flex;
    flex-direction: column;
    transition: opacity $transition-function;
    @media (min-width: 768px) {
            display: none;
        }
        &.is-open {
            transform: translateX(0);
            opacity: 1;
        }
}

.header__button-menu {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    fill: $icon-form-fill;
    cursor: pointer;

    &:hover,
    &:focus {
        fill: $accent-color ;

    }

    @media screen and (min-width: 768px) {
        display: none;

    }
}

.mobile-menu__nav {
    margin-bottom: auto;
}

.mobile-menu__nav-list {
    @include list;
}

.mobile-menu__nav-item {
    margin-bottom: 32px;

    &:last-child {
        margin-bottom: 0;
    }
}

.mobile-menu__nav-link {
    @include link;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: $title-color;
    transition: color $transition-function;

    &:hover,
    &:focus {
        color: $accent-color ;
    }

    &--current {
        color: $accent-color;
    }

}

.mobile-menu__contacts {
    @include list;
    margin-bottom: 64px;
}

.mobile-menu__contacts-item {
    margin-bottom: 32px;

    &:last-child {
        margin-bottom: 0;
    }
}

.mobile-menu__contacts-link {
    @include link;

    &.phone {
        font-weight: 500;
        font-size: 34px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        color: $accent-color;
        @media  screen and (max-width:479px) {
            font-size: 26px;
        }
    }

    &.email {
        font-weight: 500;
        font-size: 24px;
        line-height: 1.17px;
        letter-spacing: 0.02em;
        color: $prymary-color;
    }
}

.mobile-menu__socials {
    @include list;
    display: flex;
}

.mobile-menu__socials-item {
    margin-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);

    &:last-child {
        margin-right: 0;
        border-right: none;
    }
}

.mobile-menu__socials-link {
    @include link;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22px;
    letter-spacing: 0.02em;
    color: $accent-color;
    padding-right: 10px;
    @media screen and (max-width:479px) {
            font-size: 10px;
        }
}