.socnetworks__link {
    @include link;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $prymary-background;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color $transition-function;

    &:hover,
    &:focus {
        background-color: $accent-background;
    }
}

.socnetworks__list {
    @include list;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.socnetworks__icon {
    fill: $icons-color;
    transition: fill $transition-function;

    .socnetworks__link:hover &,
    .socnetworks__link:focus & {
        fill: $color-white;
    }
}